.env
.venv/
venv/
env/

**/*env

*.pyc
__pycache__/

db.sqlite3
media/
static_root/  # static directory where collectstatic gathers files for production

*/migrations/__pycache__/

*.log
*.pot
*.po
*.swp
*~
*.bak
*.tmp
*.old

.vscode/
.idea/

node_modules/